<div ng-app="LoginForm" style="height:100vh;">
	<div ng-controller="LoginController" layout="column" layout-fill ng-cloak class="md-inline-form">
		<md-content layout-gt-sm="row" layout-fill layout layout-align="center center">
			<div style="text-align: center;">
				<md-input-container>
					<label>Email</label>
					<input ng-model="email">
				</md-input-container>
				<br/>
				<md-input-container>
					<label>Password</label>
					<input ng-model="password" type="password">
				</md-input-container>
				<br/>
				<md-input-container>
					<div class="hint" ng-if="badLoginInfo"><span id="loginError">Your login information was incorrect.</span></div>
					<md-button id="loginBtn" class="md-raised md-primary" ng-click="login()">Log In</md-button>
				</md-input-container>
			</div>
		</md-content>
	</div>
</div>

<script>
(function() {
	var app = angular.module("LoginForm", ["ngMaterial", "ngMessages", "Devise"]);
	app.config(function(AuthProvider) {
		AuthProvider.loginPath("/admins/sign_in.json");
		AuthProvider.resourceName("admin");
	});
	app.controller("LoginController", function($scope, Auth) {
		$scope.badLoginInfo = false;
		$scope.login = function() {
			var credentials = {
				email: $scope.email,
				password: $scope.password
			}
			var config = {
				headers: {
					'X-HTTP-Method-Override': 'POST'
				}
			};
			console.log("Hello world.");
			Auth.login(credentials, config).then(function(admin) {
				window.location.replace("/dashboard");
				console.log(admin);
			}, function (error) {
				$scope.badLoginInfo = true;
				console.log(error);
			});
		}
		
	});
})();

$(function() {
	$(document).keypress( function(e) {
		if(e.which == 13) {
			$("#loginBtn").click();
		}
	});
});
</script>

<style>
#loginError {
	color: #FF4D5E;
}
</style>
